@charset "UTF-8";

body {
    background-color: #a3a3a3;
}

img {
    float: left;
    height: 300px;
    width: 300px;
    border-radius: 3px;
    margin-right: 20px;
}

h1 {
    border-bottom: inset;
}